<div class="container-flud">
  <div class="row d-flex align-items-center" id="img-bg">
    <div class="col-md-6 ">
      <div class="row d-flex justify-content-center">
        <div class="cold-md-6">
          <h1 class="text-center mb-3 bg-dark text-white ">Logar</h1>
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="seu usuário">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input class="form-control" type="password" name="senha" id="senha" placeholder="sua senha">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info">
              Entrar
            </button>
          </div>
          <hr class="mt-5 mb-5">
          <p class="text-center">
            Não tem uma conta? <a> Cadastre-se</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/PtCAY8g.jpg" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/Cs7lHUl.png" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/luz3LEo.jpg" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>
  </div>
</div>