#img-bg-mini{
    background-image: url("https://i.imgur.com/Cs7lHUl.png");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
