<footer class="page-footer font-small bg-dark pt-4">
<div class="container">
    <div class="row">
        <div class="cold-md-12 d-flex justify-content-center m-auto">
        <h4 class="text-info">Siga-nos nas redes sociais</h4>
        </div>
    </div>

    <div class="row">
        <div class="cold-md-12 d-flex justify-content-center m-auto">
            <ul class="social-network">
                <li>
                    <a href="https://www.facebook.com/thalita.oliveirasilva.547/" target="_blank" class="icofacebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/thalita2426/" target="_blank" class="icoinstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC4SrfAqmDiYeEpwmd49bQtw" target="_blank" class="icoyoutube">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright  bg-info text-white text-center py-3">
<span class="text-light">@2021 Copyright</span>
<a class="text-light" target="_blank" href="https://github.com/ThalitaProgramadora" >
    github ThalitaProgramadora</a>
</div>
</footer>
